body{
    font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}
.navContainer{
  position: relative;
}
.custom-gradient-text {
  background: linear-gradient(103deg, #E31D1C -63.95%, #0E51A0 165.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
}
.custom-gradient-border {
  position: relative;
  border-radius: 9px; /* Adjust the radius for roundness */
  background: #fff;
  border: transparent;
}

.custom-gradient-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: -1px;
  border-radius: 10px; /* Match the radius with the div */
  background: linear-gradient(103deg, #E31D1C -63.95%, #0E51A0 165.1%);
}
.selectedCity{
  background: linear-gradient(103deg, #E31D1C -63.95%, #0E51A0 165.1%) !important;
  color: white !important;
}


@media (max-width:830px) {
  .heroSectionHide{
    display: none !important;
  }
}
.snipContainer{
  height: 100vh;
  overflow: hidden;
}
.chooseCityWidget{
  display: none;
}
.chooseCityOverlay{
  display: none;
}
@media (max-width:830px) {
  .chooseCityOverlay{
    display: none !important;
  }
}
